//homepage
.landing-page-main-section {
  margin-top: -220px;

  .landing-page-main-section-content {
    padding-top: 400px;
    padding-bottom: 300px;

    @include breakpoint(breakMax1201) {
      padding-top: 350px;
      padding-bottom: 200px;
    }
    @include breakpoint(breakMax767) {
      padding-top: 360px;
      padding-bottom: 200px;
    }
    @include breakpoint(breakMax576) {
      padding-top: 340px;
      padding-bottom: 200px;

    }

    .scroll-to-next-section {
      i {
        font-size: 40px;
        color: #fff;
      }
    }
  }
}


.basic-benefits {
  margin-top: -50px;

  .benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .benefit-item {
      background-color: #fff;
      box-shadow: 4px 4px 16px 1px rgba(176, 176, 176, 1);
      padding: 30px;
      border-radius: 24px;
      transition: 0.25s linear;

      &:hover {
        @include breakpoint(breakMin992) {
          transform: translateY(-16px);
        }
      }

      .benefit-icon {
        i {
          display: block;
          font-size: 60px;
          color: $primary-txt-color;
        }

      }

      .benefit-title {
        font-size: 20px;
        display: block;
        color: $primary-txt-color;
      }

      .benefit-about {
        font-size: 16px;
        color: $primary-txt-color;
      }

      .step {
        top: 24px;
        left: 40px;
        font-size: 26px;
      }
    }
  }
}

.about {
  .img-col {
    img {
      border-radius: 40px;
      box-shadow: 4px 4px 12px 1px rgba(201, 201, 201, 1);
    }
  }
}


.filters {
  .filters-head {
    background-color: lightgray;
    border-radius: 12px;
    padding: 5px 20px;

    strong {
      color: $primary-txt-color;
    }
  }


  .filter-item {
    display: inline-block;

    .select {
      border: transparent !important;
      border-radius: 20px !important;
      padding: 4px 8px !important;

      &:hover {
        cursor: pointer;
      }
    }

  }

  .search {
    .search-btn {
      background-color: $secondary-color;
      color: #fff;
      padding: 10px 22px;
      border-radius: 20px;
      border: none;

      i {
        transition: 0.25s linear;
      }

    }
  }

}

.users-listing-section {
  .users-list {
    .user {
      padding: 12px 8px 12px 12px;
      border-radius: 16px;
      box-shadow: 4px 4px 20px 0px rgba(196, 196, 196, 1);;

      .user-img {
        padding: 0 6px;

        img {
          max-width: 200px;
          max-height: 200px;
          width: 100%;
          border-radius: 16px;
        }

        .request-btn {
          display: block;
          text-align: center;
          color: $primary-txt-color;
          border: 1px solid $primary-txt-color;
          border-radius: 12px;
          margin: 6px 0 0 0;

          &:hover {
            color: #fff;
            border: 1px solid transparent;
            background-color: $secondary-color;
          }
        }

        .request-btn.send {
          background-color: $gray-color;
          color: #fff;
        }

      }

      .user-short-data {
        @include breakpoint(breakMax480) {
          padding-left: 15px;
        }


        .user-text {
          b {
            @include breakpoint(breakMax767) {
              font-size: 12px;
            }
          }
        }

        strong {
          font-size: 22px;
        }
      }
    }
  }
}